# Testing of dataframes operations

import numpy as np
import pandas as pd

In [118]:
test_df = pd.read_csv('./test.csv', sep=",")

In [120]:
print(test_df)

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   0   8
4  1   X   2   3

In [127]:
new_df = test_df.replace('X','5')
print(new_df)

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   0   8
4  1   5   2   3

In [114]:
test_df[:,'C'].replace('X','5', inplace=True)
test_df[:,'C']

TypeError: '(slice(None, None, None), 'C')' is an invalid key

In [97]:
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
A     4 non-null int64
 B    4 non-null int64
 C    4 non-null int64
 D    4 non-null int64
dtypes: int64(4)
memory usage: 208.0 bytes
None

In [18]:
print(test_df.head())

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8

In [19]:
test_df.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
print(test_df.shape)

(4, 4)

In [21]:
test_df.info

<bound method DataFrame.info of    A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8>

In [24]:
# accessing column values
# Using `iloc[]`
print(test_df.iloc[0][0])

# Using `loc[]`
print(test_df.loc[0]['A'])

# Using `at[]`
print(test_df.at[0,'A'])

# Using `iat[]`
print(test_df.iat[0,0])

1
1
1
1

In [37]:
# Use `iloc[]` to select row `0`
print(test_df.iloc[0])


# Use `loc[]` to select column `'A'`
print(test_df.loc[:,'A'])

A     1
 B    2
 C    3
 D    4
Name: 0, dtype: int64
0    1
1   -1
2    1
3    5
Name: A, dtype: int64

In [43]:
new_df = test_df.replace(0,np.NaN)
new_df

   A    B   C   D
0  1  2.0   3   4
1 -1  NaN  -1  -1
2  1  2.0   3   4
3  5  6.0   7   8

In [101]:
# get all columns of dataset
cols = test_df.columns
print(test_df)  
# get value of missing_or_unknown 
feat_info = pd.read_csv('./test_feature.csv', sep=";")
# first get all attribute names column, then iterate thru it
col_feat_names = feat_info.loc[:,'attribute']
feat_info.set_index('attribute', inplace=True)
for cn in col_feat_names:
    # array of miss or unknow values
    # get string value of missing_or_unknown
    missing_or_un_for_col = feat_info.loc[cn].missing_or_unknown
     # replace [ and ]
    mu_string = missing_or_un_for_col.replace('[','').replace(']','')
    # mu_string = mu_string.replace(']','')
    mu_list = [int(k) for k in mu_string.split(',')]
    print(mu_list)
    for mu in mu_list:
        for c in cols:
            test_df.loc[test_df[c] == mu,c] = np.nan
        
print(test_df)

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   0   8
[-1, 0]
[-1, 0, 9]
[-1, 0, 3]
[0]
     A    B   C    D
0  1.0  2.0 NaN  4.0
1  NaN  NaN NaN  NaN
2  1.0  2.0 NaN  4.0
3  5.0  6.0 NaN  8.0

In [109]:
for c in cols:
    total_rows = test_df[c].count()
    total_recs = len(test_df[c].index)
    print('Total Number of missing values for attribute ', c , ' is ', test_df[c].isnull().sum(), ' out of ', total_recs )

Total Number of missing values for attribute  A  is  1  out of  4
Total Number of missing values for attribute   B  is  1  out of  4
Total Number of missing values for attribute   C  is  4  out of  4
Total Number of missing values for attribute   D  is  1  out of  4

In [62]:
cols = test_df.columns
missing_or_un_for_col = [-1,0]
for mu in missing_or_un_for_col:
    for c in cols:
        test_df.loc[test_df[c] == mu,c] = np.nan
print(test_df)

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  3.0  4.0
3  5.0  6.0  NaN  8.0

In [ ]:
countOfColAWithVal1 = test_df[:'A']

In [48]:
new_df = test_df.replace(-1,np.NaN)
new_df
new_df.info

<bound method DataFrame.info of      A   B    C    D
0  1.0   2  3.0  4.0
1  NaN   0  NaN  NaN
2  1.0   2  3.0  4.0
3  5.0   6  7.0  8.0>

In [23]:
# example of creating a data set 
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

In [138]:
# checking the sorted function

import operator
x = [2, 8, 1, 4, 6, 3, 7] 
  
print ("Sorted List returned :")
print (sorted(x) )
  
print ("\nReverse sort :")
print (sorted(x, reverse = True) )
  
#print (sorted(x, key=operator.itemgetter(1), reverse = True) )
print ("\nOriginal list not (modified :" )
print (x )

Sorted List returned :
[1, 2, 3, 4, 6, 7, 8]

Reverse sort :
[8, 7, 6, 4, 3, 2, 1]

Original list not (modified :
[2, 8, 1, 4, 6, 3, 7]

### create a CSV file with some random data in it (integers, floats and strings)

In [5]:
import pandas as pd
import numpy as np
# setting the number of rows for the CSV file
N = 100
# creating a pandas dataframe (df) with 8 columns and N rows with random integers between 999 and 999999 and with column names from A to H
df = pd.DataFrame(np.random.randint(999,999999,size=(N, 7)), columns=list('ABCDEFG'))
# creating one column 'H' of float type using the uniform distribution
df['H'] = np.random.rand(N)
# creating two additional columns with random strings
df['I'] = pd.util.testing.rands_array(10, N)
df['J'] = pd.util.testing.rands_array(10, N)
# print the dataframe to see what we have created
print(df)
# export the dataframe to csv using comma delimiting
df.to_csv("random.csv", sep=',')

         A       B       C       D       E       F       G         H  \
0   791666  122737  410480  679029  329996  146147  750297  0.497327
1    13065  243936  529335  159288  641397    3876  596966  0.532386
2   889023  576875  789858  735321  533342  519054  468669  0.383424
3   520363  810048  368640  184884  535181  687674  705877  0.583804
4   182622  697272   65076  935089  102945    7961   81038  0.783237
5   757588  203641  674409  724638  894422  667916  934397  0.012403
6    22358  673066  745357  160990  805308  845271  359895  0.845720
7   465489  694585   56021  546225  818894   55199  798555  0.553461
8   621377  211049  319676  210470  825283   94975  208211  0.488879
9   842991  809112  855930  324688  357214  569809  178091  0.841560
10  400915  367953  664740   66270  483363   97473  194240  0.760665
11  198699  962747  538185  847112  595327  339058  676962  0.571784
12   45222  159371  990710  624175   61526  747690   37547  0.229257
13  488947  683299  586630   33747  871765  766483  274617  0.213681
14  274934   71042  195891  737756  614681   64173    5728  0.018774
15  896281  180962  834153  971016  814861  746986  479297  0.803513
16  966932  990966  298090  633678  242005  626517  992311  0.632101
17  853193   26443  475749  657803  337408  855786  223167  0.385609
18  752397  860459  496460  345488  981232  353262  670824  0.339516
19  660306  302628  146777   87033  987135   46704  247522  0.707859
20  924612  751029  426655  426394  815896   62080  966885  0.798525
21  475612  926104  745061  820123  515093  835076  905809  0.547688
22  273873  583450  937481  153196  504841  112588  238933  0.528692
23  100059  842319  414598  560963  179242  785941  590901  0.049032
24  110087  963965  860143  614949  813378  781535  996117  0.353573
25  294830  857206  287837  129316  612383  372409  528133  0.321063
26  976857  510498  552067  198857  121126  402869  996122  0.507651
27  894797  160712  267178  900823  332168  545138  422495  0.817243
28  415961  774882  460010  355930  785651  994058  433149  0.106993
29  397703  948342  142807  585769  815339  781988  462212  0.155434
..     ...     ...     ...     ...     ...     ...     ...       ...
70  762172  779619   68458  990957   10069  868929  264167  0.596150
71  537924   47264  257330   16310  753075  355251  518795  0.849476
72  285528  498391  528497  207339  918627  251697  282379  0.202023
73  654352  170957  457853  593113  637154  552447  206745  0.355314
74  467709  735778  706404   40355  132988  629866  856290  0.396819
75  646983  246302  913714   39236  801308  385141  803902  0.907753
76   92148  350996  396189  847333  545493  918262  313259  0.257241
77  581338  904095  652877  270089  813093  149100  452889  0.569105
78  771208  278784    4192  136471  596225  411798  363350  0.319658
79   11250  558011  306532  875998  744913  817846  559389  0.052355
80  374781  993385  528261  483647  452042  512764  170071  0.499113
81  830919  773462  764171   71786  982316  274131  964747  0.120029
82  110056  886159  380117  108073  353869  608056  710527  0.041050
83  912405  786087   58693   23078  614690  562415  117603  0.589321
84  327858  958683   92083  751834  812392  953617   21215  0.322800
85   18026  186063  289955  601251  975338  551213  911905  0.369827
86  770773  302710  383896  651461  645917  833614  726609  0.022132
87  227397  871331  807009  774994  807039   83295  600460  0.760210
88   71020  434377  639311  224817  319652  850134  488153  0.449861
89  594318  324663  860253  826977  183673  845831  868793  0.709959
90  404812  168273  145246  899124  659080  107238  471427  0.630441
91  459719  203769  439141  809605  502036  764444  503384  0.728040
92  159885    3475  999753  968656  482751  773587  805566  0.153222
93  512006  855499  874798  549067  880482  311640  338232  0.229177
94  317412   23203  375486   20252  785892   57076  258680  0.899897
95  589572  887079  651865  499263  724304   71639  896354  0.446627
96  479321   38788  480469  488538  286214  356470  552091  0.199184
97   23714   85290  639376   45813   72364    5130  427400  0.463977
98  539109  269123  435712  789469  832046  342735  360945  0.846743
99  612546  274532  217435  500612  370824  766369   79811  0.581635

             I           J
0   atg7bWRFfe  AENjryDhPS
1   H5Ejq46Ewf  UvyD0EKFvD
2   ny3o7SegPJ  4FEyLnwZcN
3   13sSF3sYK6  66DeGT6X6I
4   fOjDdZSU7a  7tzfKOITX4
5   04OJiv9wpA  71aJQ1yDqu
6   JSEPPWUIhK  obNZIJm4cN
7   6ST7QzOnw9  gzrJgfCmqU
8   UwkvbIhm8j  IA8IHfenZc
9   rjSMRWvJFa  nVT88rtTX9
10  3t9PRW5woj  U6QUKWhNXS
11  JDLOIpWbhx  wrsovFbnVm
12  QUUeeZBVGA  ResCJB2W22
13  swdNdAiaSw  LrNij3mpVe
14  BcfngmEgC4  wA3DoJYawX
15  nKavQIlIj6  yGO2f7Z9QX
16  pCAypHBQjw  Y3BYXBBJs1
17  MAGCdEwH7G  ekhkEK1kYF
18  KShf9UtMik  cPkrq9OVuL
19  UwNP9FjEFL  GgaU9HmyPa
20  QqMf0Gxqst  M7f7ZAeIZq
21  ebcDsrcPqO  TFiSKytiQw
22  4NI46qNYfI  RiyWXa3If9
23  A9x7dtwt8w  houon28pSy
24  5BTG8VCVSF  iGxdnuzpRt
25  rY8UMkPn8K  HIBw14K18t
26  FZ3b8jTR9a  L53lsXY2mQ
27  y8q2ZdfQvG  UkzH1rGFcb
28  lD6S6fZsqO  sAN6dZZYIh
29  0hCfAi0Uh3  sVNSuRDMa0
..         ...         ...
70  8wQAZrpHuc  5y1Suxr5JI
71  g9fBC83Mvb  E7q2MOKDqI
72  0flTkeYi6y  kVrJvjfOjO
73  xNDo1QibLt  UJITQbd5F4
74  dlVTRmN70k  D9RLZWdzDC
75  WbbE2PpBXr  WwWrRKjcQi
76  i4cINCz5bN  QNUMavn56i
77  jHLyMcoXSi  USBqbmAPyd
78  qeohW4Cmz9  gUwdhuf7H2
79  vWt2oP8wdS  FOjLFLWFsy
80  2d42diWyBa  ks1ZNL4xes
81  KHLsxmK0L8  UywZYTQKK8
82  Kjl4HRvnSF  H4O3D0G4lN
83  0fAvN8sBwz  tb3ldAMiMz
84  LfBMDKf2CN  5W0LrSH3bN
85  zGDsOaXjzz  Ln7NjLIqNH
86  Uvd03ZAP6f  oP9t1kSWgy
87  2BHUoX7Fmy  q9OAP02lXV
88  2Mq7BMMs7q  90ntAu9vBy
89  ahmsTLYopr  MpFbGaVhNQ
90  oeKyNHRAro  EHBNx99T7e
91  YBrn12wLTL  UUttxPCqKj
92  MHc3BwAjki  NG4Pa2WgUP
93  u8VfsGLPAG  HFFhq9Ld8V
94  wbTAByRxYJ  fcDgr022j2
95  MiJNqneG3f  O8tBlJ2ske
96  66n1NSe9qK  B0vKOpXnA6
97  8ZbI6w8Kd0  WsC03rGi7u
98  qxS2FUFpiL  SN5U91Nt6z
99  0uHb68G2BF  WjhvkKAjSM

[100 rows x 10 columns]

In [6]:
import csv  
with open("random.csv") as csvfile:  
    data = csv.DictReader(csvfile)
    for row in data:
        print(row['A'])

791666
13065
889023
520363
182622
757588
22358
465489
621377
842991
400915
198699
45222
488947
274934
896281
966932
853193
752397
660306
924612
475612
273873
100059
110087
294830
976857
894797
415961
397703
800644
155274
785043
305855
432406
37580
542709
64941
650991
859191
553287
66548
728934
273341
321275
904078
205130
100072
599338
962294
174915
160358
774822
193152
387525
545161
944135
726476
365752
912552
46948
226887
126646
474345
327582
838793
580977
22874
822339
112579
762172
537924
285528
654352
467709
646983
92148
581338
771208
11250
374781
830919
110056
912405
327858
18026
770773
227397
71020
594318
404812
459719
159885
512006
317412
589572
479321
23714
539109
612546