# Testing of dataframes operations

import numpy as np
import pandas as pd

In [118]:
test_df = pd.read_csv('./test.csv', sep=",")

In [120]:
print(test_df)

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   0   8
4  1   X   2   3

In [127]:
new_df = test_df.replace('X','5')
print(new_df)

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   0   8
4  1   5   2   3

In [114]:
test_df[:,'C'].replace('X','5', inplace=True)
test_df[:,'C']

TypeError: '(slice(None, None, None), 'C')' is an invalid key

In [97]:
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
A     4 non-null int64
 B    4 non-null int64
 C    4 non-null int64
 D    4 non-null int64
dtypes: int64(4)
memory usage: 208.0 bytes
None

In [18]:
print(test_df.head())

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8

In [19]:
test_df.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
print(test_df.shape)

(4, 4)

In [21]:
test_df.info

<bound method DataFrame.info of    A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8>

In [24]:
# accessing column values
# Using `iloc[]`
print(test_df.iloc[0][0])

# Using `loc[]`
print(test_df.loc[0]['A'])

# Using `at[]`
print(test_df.at[0,'A'])

# Using `iat[]`
print(test_df.iat[0,0])

1
1
1
1

In [37]:
# Use `iloc[]` to select row `0`
print(test_df.iloc[0])


# Use `loc[]` to select column `'A'`
print(test_df.loc[:,'A'])

A     1
 B    2
 C    3
 D    4
Name: 0, dtype: int64
0    1
1   -1
2    1
3    5
Name: A, dtype: int64

In [43]:
new_df = test_df.replace(0,np.NaN)
new_df

   A    B   C   D
0  1  2.0   3   4
1 -1  NaN  -1  -1
2  1  2.0   3   4
3  5  6.0   7   8

In [101]:
# get all columns of dataset
cols = test_df.columns
print(test_df)  
# get value of missing_or_unknown 
feat_info = pd.read_csv('./test_feature.csv', sep=";")
# first get all attribute names column, then iterate thru it
col_feat_names = feat_info.loc[:,'attribute']
feat_info.set_index('attribute', inplace=True)
for cn in col_feat_names:
    # array of miss or unknow values
    # get string value of missing_or_unknown
    missing_or_un_for_col = feat_info.loc[cn].missing_or_unknown
     # replace [ and ]
    mu_string = missing_or_un_for_col.replace('[','').replace(']','')
    # mu_string = mu_string.replace(']','')
    mu_list = [int(k) for k in mu_string.split(',')]
    print(mu_list)
    for mu in mu_list:
        for c in cols:
            test_df.loc[test_df[c] == mu,c] = np.nan
        
print(test_df)

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   0   8
[-1, 0]
[-1, 0, 9]
[-1, 0, 3]
[0]
     A    B   C    D
0  1.0  2.0 NaN  4.0
1  NaN  NaN NaN  NaN
2  1.0  2.0 NaN  4.0
3  5.0  6.0 NaN  8.0

In [109]:
for c in cols:
    total_rows = test_df[c].count()
    total_recs = len(test_df[c].index)
    print('Total Number of missing values for attribute ', c , ' is ', test_df[c].isnull().sum(), ' out of ', total_recs )

Total Number of missing values for attribute  A  is  1  out of  4
Total Number of missing values for attribute   B  is  1  out of  4
Total Number of missing values for attribute   C  is  4  out of  4
Total Number of missing values for attribute   D  is  1  out of  4

In [62]:
cols = test_df.columns
missing_or_un_for_col = [-1,0]
for mu in missing_or_un_for_col:
    for c in cols:
        test_df.loc[test_df[c] == mu,c] = np.nan
print(test_df)

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  3.0  4.0
3  5.0  6.0  NaN  8.0

In [ ]:
countOfColAWithVal1 = test_df[:'A']

In [48]:
new_df = test_df.replace(-1,np.NaN)
new_df
new_df.info

<bound method DataFrame.info of      A   B    C    D
0  1.0   2  3.0  4.0
1  NaN   0  NaN  NaN
2  1.0   2  3.0  4.0
3  5.0   6  7.0  8.0>

In [23]:
# example of creating a data set 
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

In [138]:
# checking the sorted function

import operator
x = [2, 8, 1, 4, 6, 3, 7] 
  
print ("Sorted List returned :")
print (sorted(x) )
  
print ("\nReverse sort :")
print (sorted(x, reverse = True) )
  
#print (sorted(x, key=operator.itemgetter(1), reverse = True) )
print ("\nOriginal list not (modified :" )
print (x )

Sorted List returned :
[1, 2, 3, 4, 6, 7, 8]

Reverse sort :
[8, 7, 6, 4, 3, 2, 1]

Original list not (modified :
[2, 8, 1, 4, 6, 3, 7]