# Testing of dataframes operations

import numpy as np
import pandas as pd

In [17]:
test_df = pd.read_csv('./test.csv', sep=",")
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
A     4 non-null int64
 B    4 non-null int64
 C    4 non-null int64
 D    4 non-null int64
dtypes: int64(4)
memory usage: 208.0 bytes
None

In [18]:
print(test_df.head())

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8

In [19]:
test_df.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
print(test_df.shape)

(4, 4)

In [21]:
test_df.info

<bound method DataFrame.info of    A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8>

In [24]:
# accessing column values
# Using `iloc[]`
print(test_df.iloc[0][0])

# Using `loc[]`
print(test_df.loc[0]['A'])

# Using `at[]`
print(test_df.at[0,'A'])

# Using `iat[]`
print(test_df.iat[0,0])

1
1
1
1

In [32]:
# Use `iloc[]` to select row `0`
print(df.iloc[0])

NameError: name 'df' is not defined

In [23]:
# example of creating a data set 
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4