# Testing of dataframes operations

import numpy as np
import pandas as pd

In [61]:
test_df = pd.read_csv('./test.csv', sep=",")
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
A     4 non-null int64
 B    4 non-null int64
 C    4 non-null int64
 D    4 non-null int64
dtypes: int64(4)
memory usage: 208.0 bytes
None

In [18]:
print(test_df.head())

   A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8

In [19]:
test_df.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
print(test_df.shape)

(4, 4)

In [21]:
test_df.info

<bound method DataFrame.info of    A   B   C   D
0  1   2   3   4
1 -1   0  -1  -1
2  1   2   3   4
3  5   6   7   8>

In [24]:
# accessing column values
# Using `iloc[]`
print(test_df.iloc[0][0])

# Using `loc[]`
print(test_df.loc[0]['A'])

# Using `at[]`
print(test_df.at[0,'A'])

# Using `iat[]`
print(test_df.iat[0,0])

1
1
1
1

In [37]:
# Use `iloc[]` to select row `0`
print(test_df.iloc[0])


# Use `loc[]` to select column `'A'`
print(test_df.loc[:,'A'])

A     1
 B    2
 C    3
 D    4
Name: 0, dtype: int64
0    1
1   -1
2    1
3    5
Name: A, dtype: int64

In [43]:
new_df = test_df.replace(0,np.NaN)
new_df

   A    B   C   D
0  1  2.0   3   4
1 -1  NaN  -1  -1
2  1  2.0   3   4
3  5  6.0   7   8

In [ ]:
feat_info = pd.read_csv('./test_feature.csv', sep=";")
feat_info.loc[col_name].missing_or_unknown

In [62]:
cols = test_df.columns
missing_or_un_for_col = [-1,0]
for mu in missing_or_un_for_col:
    for c in cols:
        test_df.loc[test_df[c] == mu,c] = np.nan
print(test_df)

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  3.0  4.0
3  5.0  6.0  NaN  8.0

In [48]:
new_df = test_df.replace(-1,np.NaN)
new_df
new_df.info

<bound method DataFrame.info of      A   B    C    D
0  1.0   2  3.0  4.0
1  NaN   0  NaN  NaN
2  1.0   2  3.0  4.0
3  5.0   6  7.0  8.0>

In [23]:
# example of creating a data set 
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
                
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4